@model E_Commerce.Models.LoginDetails

@{
    ViewBag.Title = "Login";
}

<body class="bgImage" style="margin-top: 26rem;">
    <div>
        @using (Html.BeginForm())
        {

            @Html.AntiForgeryToken()
            <img src="~/img/loginAvatar.png" style=" height: 10rem; position: absolute; bottom: 43rem; left: 66rem;" />
            <div class="form-horizontal" style=" border-radius: 20px; position: relative; align-items: center; justify-content: center; margin-left: 25%; ">
                <div style=" bottom: 35px; left: 12rem; position: relative;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
                <div class="form-group ">
                    <label asp-for="UserName" class="control-label col-md-2" style=" position: relative; top: -40px; left: 98px;">UserName</label>
                    <div class="col-md-10">
                        <input asp-for="UserName" name="UserName" class="form-control" required/>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label col-md-2" style=" left: 96px;">Password</label>
                    <div class="col-md-10">
                        <input type="password" asp-for="Password" name="Password" class="form-control" style=" top: 39px; position: relative;" required/>
                        <div style="top: 4rem; position: relative;">
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        </div>

                    </div>
                </div>

                <div class="form-group" style="top: 42px; position: relative;  ">
                    <div class="col-md-offset-2 col-md-10 ">
                        <input type="submit" value="Login" class="btn btn-warning" />
                    </div>
                </div>
                <div style=" left: 15rem; position: relative; top: 38px;">
                    <p>
                        @Html.ActionLink("Forgot-Password", "ForgotPassword", "Account")
                    </p>
                    <p>
                        @Html.ActionLink("Register as a new user", "SignUp", "Account")
                    </p>
                </div>
            </div>
        }
    </div>
</body>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
